/* div.a-enter-ar, */
div.a-enter-vr {
  visibility: hidden;
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

div.a-enter-ar{
  color: red;
  position: absolute;
  bottom: 1em;
  right: 40%;
  margin: 0;
  height: 20%;
}

#overlay{
  color: blue;
  height:200px;
  width: 200px;
}

header {
  background-color: rgba(255, 255, 255, 0.90);
  position: relative;
  padding: 0.5em;
  left: 0px;
  [...]
}

.overlay-box{
  background-color: red;
  color: blue;
  height:200px;
  width: 200px;
}