.sharing-root{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.sharing-bottom-parent{
  display: flex;
  align-items: center;
  justify-content:space-between ;
}

button{
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

.sharing-page-main-image{
  width:80vw;
}

.sharing-page-image-parent{
  display: flex;
  align-items: center;
  justify-content:center;
}